@import "../styles/mixins.scss";

.formLayout {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-self: center;
  padding: 2rem 2rem 2rem 2rem;
  background-color: rgb(15, 15, 65);
  border-radius: 5px;
  min-width: 80%;
  width: fit-content;
  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: column;
  }
  .messageLayout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    flex: 5;
    .message {
      color: black;
      height: 13rem;
      width: 100%;
      resize: none;

      @include desktop {
        font-size: 1.8rem;
      }
      @include laptop {
        font-size: 1.5rem;
      }
      @include tablet {
        font-size: 1.4rem;
      }
      @include mobile {
        font-size: 1.3rem;
      }
    }
    .message.error {
      border-color: rgb(236, 35, 35);
      background-color: rgb(240, 144, 144);
    }
    .buttonContainer {
      flex: 1;
      align-self: flex-end;
    }
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 2;

    align-items: center;
    @include desktop {
      gap: 1rem;
    }
    @include laptop {
      gap: 1rem;
    }
    @include tablet {
      flex: 1;
    }
    @include mobile {
      align-items: flex-start;
      flex: 1;
    }
  }
}
