@import "../styles/mixins.scss";

.linkContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  color: silver;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  &:hover {
    scale: 1.1;
    color: white;
  }
  @include desktop {
    font-size: 1.5rem;
  }
  @include laptop {
    font-size: 1.4rem;
  }
  @include tablet {
    font-size: 1.1rem;
  }
  @include mobile {
    font-size: 0.9rem;
  }
}
