@import "../../styles/mixins.scss";

.myprojectsLayout {
  background-color: rgb(15, 15, 65);
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  gap: 3rem;
  @include laptop {
    padding: 5rem 2rem 2rem 2rem;
  }
  @include tablet {
    padding: 5rem 2rem 2rem 2rem;
    gap: 2rem;
  }
  @include mobile {
    padding: 5rem 2rem 2rem 2rem;
    gap: 2rem;
  }
  .titleProyectos {
    color: rgb(211, 144, 1);
    @include desktop {
      font-size: 4rem;
    }
    @include laptop {
      font-size: 3.5rem;
    }
    @include tablet {
      font-size: 3rem;
      padding-left: 2rem;
      flex-direction: row;
    }
    @include mobile {
      padding-left: 2rem;
      font-size: 2.2rem;
      flex-direction: row;
    }

    @include desktop {
      font-size: 4rem;
    }
    @include laptop {
      font-size: 3.5rem;
    }
    @include tablet {
      font-size: 3rem;
      padding-left: 2rem;
      flex-direction: row;
    }
    @include mobile {
      padding-left: 2rem;
      font-size: 2.2rem;
      flex-direction: row;
    }
  }
  .myprojectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
