@import "../../styles/mixins.scss";

.photoContainer {
  padding: 1rem;
  justify-self: flex-start;
  flex: 1;
  @include bigDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;
    min-width: 60rem;
  }
  @include desktop {
    padding: 1rem;
  }

  @include tablet {
    padding: 1rem;
  }
  @include mobile {
    padding: 1rem;
  }

  .photo {
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(255, 196, 2, 0.863);
    filter: drop-shadow(0px 0px 5px rgba(252, 210, 71, 0.863));
    @include bigDesktop {
      height: 55rem;
      min-width: 60rem;
    }

    @include desktop {
      width: 35rem;
    }
    @include laptop {
      width: 35rem;
    }
    @include tablet {
      width: 30rem;
    }
    @include mobile {
      width: 20rem;
    }
  }
}
